/*==============================
FLOATING ANIMATION
==============================*/

@keyframes float {

    0%{
        transform:translateY(0px);
    }

    50%{
        transform:translateY(-12px);
    }

    100%{
        transform:translateY(0px);
    }

}
@keyframes scrollPartners{

    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(-50%);
    }

}

@keyframes dataFlow{

    from{

        stroke-dashoffset:40;

    }

    to{

        stroke-dashoffset:0;

    }

}

.connection-lines{

    filter:drop-shadow(0 0 8px rgba(15,98,254,.2));

}

@keyframes moveLeft{
    from{
        transform:translateX(0);
    }
    to{
        transform:translateX(-50%);
    }
}

@keyframes moveRight{
    from{
        transform:translateX(-50%);
    }
    to{
        transform:translateX(0);
    }
}